src/META-INF/wsdl/172.16.254.185_8080/webservicepersonne/WebServicePersonne.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://externe.webservices.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://externe.webservices.com/" name="WebServicePersonne">
<types>
<xsd:schema>
<xsd:import namespace="http://externe.webservices.com/" schemaLocation="http://172.16.254.185:8080/WebServicePersonne/WebServicePersonne?xsd=1"/>
</xsd:schema>
</types>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="RecherchePersonne">
<part name="parameters" element="tns:RecherchePersonne"/>
</message>
<message name="RecherchePersonneResponse">
<part name="parameters" element="tns:RecherchePersonneResponse"/>
</message>
<message name="GetPersonne">
<part name="parameters" element="tns:GetPersonne"/>
</message>
<message name="GetPersonneResponse">
<part name="parameters" element="tns:GetPersonneResponse"/>
</message>
<message name="GetAllPersonnes">
<part name="parameters" element="tns:GetAllPersonnes"/>
</message>
<message name="GetAllPersonnesResponse">
<part name="parameters" element="tns:GetAllPersonnesResponse"/>
</message>
<message name="RecherchePersonnes">
<part name="parameters" element="tns:RecherchePersonnes"/>
</message>
<message name="RecherchePersonnesResponse">
<part name="parameters" element="tns:RecherchePersonnesResponse"/>
</message>
<message name="RemplirInfoPersonne">
<part name="parameters" element="tns:RemplirInfoPersonne"/>
</message>
<message name="RemplirInfoPersonneResponse">
<part name="parameters" element="tns:RemplirInfoPersonneResponse"/>
</message>
<portType name="WebServicePersonne">
<operation name="test">
<input wsam:Action="http://externe.webservices.com/WebServicePersonne/testRequest" message="tns:test"/>
<output wsam:Action="http://externe.webservices.com/WebServicePersonne/testResponse" message="tns:testResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://externe.webservices.com/WebServicePersonne/helloRequest" message="tns:hello"/>
<output wsam:Action="http://externe.webservices.com/WebServicePersonne/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="RecherchePersonne">
<input wsam:Action="http://externe.webservices.com/WebServicePersonne/RecherchePersonneRequest" message="tns:RecherchePersonne"/>
<output wsam:Action="http://externe.webservices.com/WebServicePersonne/RecherchePersonneResponse" message="tns:RecherchePersonneResponse"/>
</operation>
<operation name="GetPersonne">
<input wsam:Action="http://externe.webservices.com/WebServicePersonne/GetPersonneRequest" message="tns:GetPersonne"/>
<output wsam:Action="http://externe.webservices.com/WebServicePersonne/GetPersonneResponse" message="tns:GetPersonneResponse"/>
</operation>
<operation name="GetAllPersonnes">
<input wsam:Action="http://externe.webservices.com/WebServicePersonne/GetAllPersonnesRequest" message="tns:GetAllPersonnes"/>
<output wsam:Action="http://externe.webservices.com/WebServicePersonne/GetAllPersonnesResponse" message="tns:GetAllPersonnesResponse"/>
</operation>
<operation name="RecherchePersonnes">
<input wsam:Action="http://externe.webservices.com/WebServicePersonne/RecherchePersonnesRequest" message="tns:RecherchePersonnes"/>
<output wsam:Action="http://externe.webservices.com/WebServicePersonne/RecherchePersonnesResponse" message="tns:RecherchePersonnesResponse"/>
</operation>
<operation name="RemplirInfoPersonne">
<input wsam:Action="http://externe.webservices.com/WebServicePersonne/RemplirInfoPersonneRequest" message="tns:RemplirInfoPersonne"/>
<output wsam:Action="http://externe.webservices.com/WebServicePersonne/RemplirInfoPersonneResponse" message="tns:RemplirInfoPersonneResponse"/>
</operation>
</portType>
<binding name="WebServicePersonnePortBinding" type="tns:WebServicePersonne">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecherchePersonne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetPersonne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllPersonnes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RecherchePersonnes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RemplirInfoPersonne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServicePersonne">
<port name="WebServicePersonnePort" binding="tns:WebServicePersonnePortBinding">
<soap:address location="http://172.16.254.185:8080/WebServicePersonne/WebServicePersonne"/>
</port>
</service>
</definitions>