xml-resources/web-service-references/WebServicePersonne/wsdl/benguigcentos_8080/WebServicePersonne/WebServicePersonne.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://externe.webservices.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://externe.webservices.com/">

<xs:element name="GetAllPersonnes" type="tns:GetAllPersonnes"/>

<xs:element name="GetAllPersonnesResponse" type="tns:GetAllPersonnesResponse"/>

<xs:element name="GetPersonne" type="tns:GetPersonne"/>

<xs:element name="GetPersonneResponse" type="tns:GetPersonneResponse"/>

<xs:element name="RecherchePersonne" type="tns:RecherchePersonne"/>

<xs:element name="RecherchePersonneResponse" type="tns:RecherchePersonneResponse"/>

<xs:element name="RecherchePersonnes" type="tns:RecherchePersonnes"/>

<xs:element name="RecherchePersonnesResponse" type="tns:RecherchePersonnesResponse"/>

<xs:element name="RemplirInfoPersonne" type="tns:RemplirInfoPersonne"/>

<xs:element name="RemplirInfoPersonneResponse" type="tns:RemplirInfoPersonneResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="tFinanceur" type="tns:tFinanceur"/>

<xs:element name="tPersonne" type="tns:tPersonne"/>

<xs:element name="test" type="tns:test"/>

<xs:element name="testResponse" type="tns:testResponse"/>

<xs:complexType name="hello">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllPersonnes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllPersonnesResponse">
<xs:sequence>
<xs:element name="return" type="tns:tPersonne" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tPersonne">
<xs:sequence>
<xs:element name="dateDeNaissance" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idFinanceur" type="tns:tFinanceur" minOccurs="0"/>
<xs:element name="idPersonne" type="xs:int" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="prenom" type="xs:string" minOccurs="0"/>
<xs:element name="sexe" type="xs:unsignedShort"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tFinanceur">
<xs:sequence>
<xs:element name="idFinanceur" type="xs:int" minOccurs="0"/>
<xs:element name="nomFinanceur" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="testResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoPersonne">
<xs:sequence>
<xs:element name="conseiller" type="tns:infoConseiller" minOccurs="0"/>
<xs:element name="dateNaissance" type="xs:string" minOccurs="0"/>
<xs:element name="emplois" type="tns:infoEmploi" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="financeur" type="tns:infoFinanceur" minOccurs="0"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="prenom" type="xs:string" minOccurs="0"/>
<xs:element name="sexe" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoConseiller">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="prenom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoEmploi">
<xs:sequence>
<xs:element name="dateDebut" type="xs:string" minOccurs="0"/>
<xs:element name="dateFin" type="xs:string" minOccurs="0"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="nom_emploi" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:infoType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoType">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="intitule" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoFinanceur">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RemplirInfoPersonne">
<xs:sequence>
<xs:element name="arg0" type="tns:tPersonne" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RemplirInfoPersonneResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RecherchePersonne">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:boolean"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RecherchePersonneResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RecherchePersonnes">
<xs:sequence>
<xs:element name="arg0" type="tns:infoPersonne" minOccurs="0"/>
<xs:element name="arg1" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RecherchePersonnesResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPersonne">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPersonneResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>