xml-resources/web-service-references/PersonneWebService/wsdl/benguigcentos_8080/PersonneWebService/PersonneWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://externe.webservices.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://externe.webservices.com/">

<xs:element name="GetAllPersonnes" type="tns:GetAllPersonnes"/>

<xs:element name="GetAllPersonnesResponse" type="tns:GetAllPersonnesResponse"/>

<xs:element name="GetPersonne" type="tns:GetPersonne"/>

<xs:element name="GetPersonneResponse" type="tns:GetPersonneResponse"/>

<xs:element name="RechercheExtraPersonnes" type="tns:RechercheExtraPersonnes"/>

<xs:element name="RechercheExtraPersonnesResponse" type="tns:RechercheExtraPersonnesResponse"/>

<xs:element name="RecherchePersonne" type="tns:RecherchePersonne"/>

<xs:element name="RecherchePersonneResponse" type="tns:RecherchePersonneResponse"/>

<xs:element name="RecherchePersonnes" type="tns:RecherchePersonnes"/>

<xs:element name="RecherchePersonnesResponse" type="tns:RecherchePersonnesResponse"/>

<xs:element name="addPersonne" type="tns:addPersonne"/>

<xs:element name="addPersonneResponse" type="tns:addPersonneResponse"/>

<xs:element name="factorielleNombre" type="tns:factorielleNombre"/>

<xs:element name="factorielleNombreResponse" type="tns:factorielleNombreResponse"/>

<xs:element name="hello" nillable="true" type="tns:factorielleNombre"/>

<xs:element name="helloResponse" nillable="true" type="tns:factorielleNombreResponse"/>

<xs:complexType name="RecherchePersonnes">
<xs:sequence>
<xs:element name="arg0" type="tns:infoPersonne" minOccurs="0"/>
<xs:element name="arg1" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoPersonne">
<xs:sequence>
<xs:element name="conseiller" type="tns:infoConseiller" minOccurs="0"/>
<xs:element name="dateNaissance" type="xs:string" minOccurs="0"/>
<xs:element name="emplois" type="tns:infoEmploi" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="financeur" type="tns:infoFinanceur" minOccurs="0"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="prenom" type="xs:string" minOccurs="0"/>
<xs:element name="sexe" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoConseiller">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="prenom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoEmploi">
<xs:sequence>
<xs:element name="dateDebut" type="xs:string" minOccurs="0"/>
<xs:element name="dateFin" type="xs:string" minOccurs="0"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="nom_emploi" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:infoType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoType">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="intitule" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoFinanceur">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RecherchePersonnesResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RechercheExtraPersonnes">
<xs:sequence>
<xs:element name="arg0" type="tns:infoPersonne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RechercheExtraPersonnesResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPersonne">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPersonneResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPersonne">
<xs:sequence>
<xs:element name="arg0" type="tns:infoPersonne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPersonneResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="RecherchePersonne">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:boolean"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RecherchePersonneResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllPersonnes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllPersonnesResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factorielleNombre">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factorielleNombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>