xml-resources/web-service-references/WebServicePersonne/wsdl/172.16.254.185_8080/WebServicePersonne/WebServicePersonne.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://externe.webservices.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://externe.webservices.com/">

<xs:element name="GetPersonne" type="tns:GetPersonne"/>

<xs:element name="GetPersonneResponse" type="tns:GetPersonneResponse"/>

<xs:element name="RecherchePersonne" type="tns:RecherchePersonne"/>

<xs:element name="RecherchePersonneResponse" type="tns:RecherchePersonneResponse"/>

<xs:element name="test" type="tns:test"/>

<xs:element name="testResponse" type="tns:testResponse"/>

<xs:complexType name="test">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="testResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="infoPersonne">
<xs:sequence>
<xs:element name="dateNaissance" type="xs:string" minOccurs="0"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="prenom" type="xs:string" minOccurs="0"/>
<xs:element name="sexe" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RecherchePersonne">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:boolean"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RecherchePersonneResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPersonne">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetPersonneResponse">
<xs:sequence>
<xs:element name="return" type="tns:infoPersonne" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>